<div class="boxed-section">
    <div id="highchart"></div>
</div>

<div class="boxed-section">
    <div id="highchart2"></div>
</div>

{{ if list_comment }}
<div class="mt-5 fs-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="10%">自身</th>
                <th width="10%">予測</th>
                <th width="10%">相手</th>
                <th width="70%">理由</th>
            </tr>
        </thead>
        <tbody>
            {{ for el in list_comment }}
            <tr>
                <td>{{ el.0 }}</td>
                <td>{{ el.1 }}</td>
                <td>{{ el.2 }}</td>
                <td>{{ el.3 | escape }}</td>
            </tr>
            {{ endfor }}
        </tbody>
    </table>
</div>
{{ endif }}

{{ if show_series }}
<div class="boxed-section">
    <div id="highchart3"></div>
</div>
{{ endif }}

<div class="mt-5">
    {{ include_sibling 'instructions.html' }}
</div>

{{ include_sibling 'chart.html' }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const js_vars = JSON.parse(`{{ js_vars | json }}`);
        drawChart("highchart", js_vars);
        drawChart_pair("highchart2", js_vars);

        // {{ if show_series }}
        drawChart_series("highchart3", js_vars);
        // {{ endif }}
    });
</script>
