{{ block title }}
質問
{{ endblock }}


{{ block content }}
<table class='table table-bordered text-center' style='vertical-align: middle;'>
    <tr>
        <th colspan="2" rowspan="2"></th>
        <th colspan="2" class="uline-p2">プレイヤー2</th>
    </tr>
    <tr>
        <th>映画1</th>
        <th>映画2</th>
    </tr>
    <tr>
        <th rowspan="2" class="uline-p1">プレイヤー1</th>
        <th>映画1</th>
        <td>
            <span class="uline-p1">{{ C.PAYOFF_A }}</span>,
            <span class="uline-p2">{{ C.PAYOFF_B }}</span>
        </td>
        <td>
            <span class="uline-p1">{{ C.PAYOFF_D }}</span>,
            <span class="uline-p2">{{ C.PAYOFF_D }}</span>
        </td>
    </tr>
    <tr>
        <th>映画2</th>
        <td>
            <span class="uline-p1">{{ C.PAYOFF_C }}</span>,
            <span class="uline-p2">{{ C.PAYOFF_C }}</span>
        </td>
        <td>
            <span class="uline-p1">{{ C.PAYOFF_B }}</span>,
            <span class="uline-p2">{{ C.PAYOFF_A }}</span>
        </td>
    </tr>
</table>

<div class="mt-4">
    <ul>
        <li>あなたは<u>プレイヤー{{ player.id_in_group }}</u>でした。</li>
        <li>あなた{{ if player.flg_non_input == 1 }}（コンピュータ）{{ endif }}は映画{{ player.individual_choice }}を選びました。</li>
    </ul>
</div>


<div class="mt-4">
    {{ formfields }}
</div>


{{ next_button }}

{{ endblock }}


{{ block scripts }}
<style>
    /* {{ if player.id_in_group == 1 }} */
    .uline-p1 {
        text-decoration: underline;
    }

    /* {{ else }} */
    .uline-p2 {
        text-decoration: underline;
    }

    /* {{ endif }} */
</style>
{{ endblock }}
